.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    color:white;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}
.card1{
    
    background:url("../images/bg-pattern-quotation.svg") ;
    background-repeat: no-repeat;
    background-color: hsl(263, 55%, 52%);
    background-position: 80% 0;
    border-radius: 10px;
    
    padding:20px;
    
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.header{
    font-size: 8px;
    display: flex;
    align-items: center;
}
.header>img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid hsl(0, 0%, 81%);
}
#change2{
    color:hsl(217, 19%, 35%);
}
#head2{
    font-weight: 600;
    font-size: 1.2em;
}
#head1{
    line-height: 0.4em;
}
#head1 > p{
    font-weight: 500;
    color:hsl(0, 0%, 81%);
    
    margin-bottom: 1%;
}
.mid-cont{
    font-weight: 600;
    margin-bottom:15px;
    margin-top:15px;
}
.cont{
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5em;
    margin-top: 15px;
    color:hsl(0, 0%, 81%);
}
.card2{
    border-radius: 10px;
    padding:20px;
    
    grid-column: 3 / 4;
    
    grid-row: 1 / 2;
    background-color: hsl(217, 19%, 35%);
    
    
}
.card3{
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    padding:20px;
    border-radius: 10px;
    background-color:#fff;
    
    
}
.change,#change1{
    color: black;
}
.card4{
    border-radius: 10px;
    background-color:#fff;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding:20px;
    
    
}
.card5{
    border-radius: 10px;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background-color:hsl(219, 29%, 14%);
    padding:20px;  
}
main{
    
    padding:80px 180px 80px 200px;
}
main{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, min-content);
    grid-gap: 20px;
}
@media (max-width: 1024px){
    body{
      padding: 20px;
    }
    main{
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, min-content);
      width: 95%;
      grid-gap: 15px;
    }
    .card1{
      grid-column: 1/3;
    }
    .card2{
      grid-column: 3/4;
    }
    .card5{
      grid-column: 1/4;
      grid-row: 3/4;
    }
  }
  @media (max-width: 768px){
    body{
        margin:0px;
    }
    main{
      margin: 0px;
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      grid-template-rows: minmax(auto, auto);
    }
    .card{
      grid-column: unset !important;
      grid-row: unset !important;
    }
  }
